@model IEnumerable<MOVO.Products.Models.ProductViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products from specific category</title>
</head>
<body>
    @{
        if (Model.Any()) {
            foreach (var product in Model) {
                <div>
                    <span>@product.ArticleNumber</span>
                    <br/>
                    <span>@product.Category - @product.Price (@product.PriceWithVat with VAT)</span>
                    <br/>
                    <span>@product.ArticleName</span>
                    <br/>
                    <span>@product.Description</span>
                </div>
                <br/>
                <br/>
            }
        }
        else {
            <div>
                <p>No products from this category available!</p>
            </div>
        }
    }
</body>
</html>